@font-face{
    font-family:JetBrains;
    src: url(../fonts/JetBrainsMono-SemiBold.ttf);
}

*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: JetBrains;
}

header{
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(27, 155, 38);
}

main{
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}

.iframe-pdf{
    margin-top: 35px;
    margin-bottom: 35px;
}

main h2, h3{
    margin-top: 35px;
}

main img{
    width: 1000px;
}

footer{
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 5px 5px 5px 10px rgb(27, 155, 38);
}

@media screen and (max-width: 500px) {
    .iframe-pdf{
        width: 280px;
    }

    header h2{
        font-size: 15pt;
    }
}